*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1900px;
}

main{
  display: flex;
  /* flex-wrap: wrap;   */
  /* sıkıştırma ve aşağı satıra geçme */
  justify-content: center;
  margin: 1rem 10rem;
  /* üstten uzaklaştırıyor */
  /* gap: 0px  100px ; */
  
}

main label{
  font-size: 1rem;
}

#title1{
  text-align: center;
  font-size: 2.5rem;
  margin: 1.5rem;   
  /* yukarıdan aşağı çektik 1.5 rem*/
}

form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  color: grey;
}

#contact-info{
  margin-top: 1rem;
  /* contact info biraz aşağı aldık */
}

h1{
  color: black;
  /* başlıkları tekrar siyah yaptık */
}

main input{
  margin-top: 0.5rem;
  width: 80%;
  height: 2.4rem;
  padding-left: 2.5rem;
  border-radius: 6px;
  /* input alanlarını düzenliyiyoruz */
}
 
.



/* form{
  display: flex;
  height: 8rem;
  margin: 8px;
  padding: 6px;
  gap: 90px ;
  contact informationun aşağıyla mesafesini ayarlıyor
  flex-direction: column;
  dikine dizer
}

#contact-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact-input, .input-field{
  display: flex;
  flex-direction: column;
  gap: 10px 10px; */
/* } */


