*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1900px;
}

main{
  display: flex;
  /* flex-wrap: wrap;   */
  /* sıkıştırma ve aşağı satıra geçme */
  justify-content: center;
  margin: 1rem 10rem;
  /* üstten uzaklaştırıyor */
  /* gap: 0px  100px ; */
  
}

main label{
  font-size: 1rem;
}

#title1{
  text-align: center;
  font-size: 2.5rem;
  margin: 1.5rem;   
  /* yukarıdan aşağı çektik 1.5 rem*/
}

form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  color: grey;
}

#contact-info{
  margin-top: 1rem;
  /* contact info biraz aşağı aldık */
}
.part {
  margin: 1rem auto;
}

h1{
  color: black;
  /* başlıkları tekrar siyah yaptık */
}

main input{
  margin-top: 0.5rem;
  width: 80%;
  height: 2.4rem;
  padding-left: 2.5rem;
  border-radius: 9px;
  /* input alanlarını düzenliyiyoruz */
}

/* .input-field {
  position: relative;
}  */

 /* i{
  position: absolute;
  top: 1rem;
  left: 1rem;
} */

.icon {
  position: relative;
}
.fa-solid {
  color: gray;
}
.icon i {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
}

.country-and-post{
  display: flex;
  width: 80%;
}
.country{
  margin-top: 1rem;
}

.country select{
  width: 8rem;
  height: 2.4rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  padding-left: 2.5rem;
}

.post-code{
  margin: 1rem 0  1rem  1rem;
  width: 100%;
}
.post-code input{
  width: 100%;
}

.checkbox{
  position: relative;
}
#nextTime {
  width: 1rem;
}

#nextTimeLabel{
  margin-left: 0.5rem;
  position: absolute;
  top: 1.2rem;
}

.btn{
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}
.btn button{
  width: 5rem;
  height: 3rem;
  border-radius: 10px;
  background-color: tomato;
  border: none;
  color: white;
  font-weight: bold;
}
.card-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color:rgb(249, 249, 249);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  height: 30rem;
  width: 45rem;
}

.card img{
  width: 150px;
  border-radius: 15px;
}
.card-box2{
  display: flex;
  flex-direction: column;
  gap: 1rem ;
}
.card{
  display: flex;
}
.card-info h2{
  margin-bottom: 0.5rem;
}
.invalid{
  text-decoration: line-through;
}
.valid{
  font-size: 1.4rem;
  color: tomato;
  font-weight: bold;
}
.piece{
  border: 2px solid gray;
  border-radius: 7px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 9rem;
  margin-top: 2rem;
}
.piece button{
  width: 1.5rem;
  height: 2rem;
  border: none;
  font-size: 1.5rem;
}
.end-1{
  border-top: 2px solid #b7b7b7;
  margin-top: 2rem;
}
.end1 .p1{
  float: left;
}
.end-1 .p2{
  float: right;
}
.end-2 {
  border-top: 2px solid #b7b7b7;
  margin-top: 2rem;
}
.end-2 .p1{
  float: left;
}
.end-2 .p2{
float: right;
}
/* @media screen and (max-width: 1112px) {
  .information {
    width: 80%;
  }
}
@media screen and (max-width: 1036px) {
  main {
    flex-direction: column-reverse;
    margin: 1rem 1rem;
    min-width: 520px;
  }
  .information {
    width: 80%;

    margin: auto;
  }
  .information input {
    width: 100%;
  }
  .card-box {
    width: 70%;
    margin: 1rem auto;
  }
  .country-and-post {
    width: 100%;
  }
  .btn {
    margin-right: 0%;
  }
} */






